.header-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    color: var(--color-primary);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 95;
    border-radius: 0px 0px 10px 10px;
}


.header-app-name{
    font-size: 24px;
    font-weight: bold;
    user-select: none;
}

.query-icon-container{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
}

.icon {
    font-size: 30px;
    user-select: none;
    animation: pushUp 1s ease-in-out 0s infinite alternate;
}

.query-icon-container:hover, .query-icon-container:active{
    background-color: var(--color-primary-bg);
    cursor: pointer;
}


@keyframes pushUp {
    0%{
        transform: translateY(-5px) rotateZ(20deg);
    }50%{
        transform: translateY(3px) rotateZ(-10deg);
    }100%{
        transform: translateY(0px) rotateZ(0deg);
    }
}

.query-modal-container.active{
    width: 80%;
    height: max-content;
    background-color: var(--color-primary);
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    z-index: 100;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow-y: scroll; */
    overflow-x: hidden;
    transition: 0.3s;
}

.query-modal-container{
    position: fixed;
    top: -1000px;
}

.query-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    border-bottom: 1px solid #fff;
    padding: 5px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.query-question{
    font-size: 16px;
    font-weight: 600;
}

.query-answer{
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}


.close-btn-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 30px;
    padding: 5px;
    transition: 0.3s;
}

.close-btn-container div:hover{
    background-color: #fff;
    color: var(--color-primary);
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
}

.modal-back-drop{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: var(--color-primary-bg);
    user-select: contain;
    user-select: none;
    filter: blur(10px);
    z-index: 50;
    overflow: hidden;
    transition: 0.2s;
}

.query-container:hover{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

