:root{
  --color-bg: #DBEBFF;
  --color-primary: #2911A6;
  --color-primary-bg: #cbc2fcb1;
  --color-primary-bg-1: rgba(203, 194, 252, 1);
}

*{
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;  
}

body{
  background-color: var(--color-bg);
  overflow-y: scroll;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
